li {
  margin-left: 30px;
  margin-bottom: 10px;
}
p {
  margin-bottom: 20px;
}
.newspage {
  padding-top: 138px;
  padding-bottom: 182px;
}
.newspage ul,
.newspage li {
  list-style: initial;
}
.newspage__container {
  max-width: 930px;
  margin: 0 auto;
}
.newspage__item {
  position: relative;

  border-radius: 16px;
  background: #fff;
}
.newspage__img {
  width: 100%;
  height: 382px;
  border-radius: 16px;
}
.newspage__info {
  display: flex;
  padding: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
.newspage__time {
  color: #4f5a73;
  font-family: Golos;
  font-size: 14px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 1.68px;
  text-transform: uppercase;
}
.newspage__name {
  color: #1b2634;
  /* Heading/H2 */
  font-family: Golos;
  font-size: 50px;
  font-weight: 700;
  line-height: 100%; /* 50px */
  letter-spacing: -1.25px;
}
.newspage__text {
  color: #4f5a73;
  /* Text/Paragraph */
  font-family: Golos;
  font-size: 18px;
  font-weight: 400;
  line-height: 130%; /* 23.4px */
  letter-spacing: 0.18px;
}
.newspage__link {
  color: #2fd7d4;
  font-family: Golos;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%; /* 26px */
  letter-spacing: 0.2px;
}

.newspage__item::before {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  background-image: url(./img/transparent.png);
  top: 0%;
  left: -30%;
  z-index: -1;
}

.newspage__item::after {
  content: "";
  position: absolute;
  background-image: url(./img/transparent.png);
  background-size: cover;
  width: 600px;
  height: 600px;
  bottom: 0%;
  right: -25%;
  z-index: -1;
}
.main-newspage .form {
  padding-bottom: 0px;
}
.main-newspage .form__item::before {
  display: none;
}
.footer-newspage {
  padding-top: 184px;
  max-width: 100%;
  overflow: hidden;
}
.footer-newspage .footer__body {
  max-width: 550px;
  margin: 0 auto;
  position: relative;
}

@media only screen and (max-width: 500px) {
  .newspage__item::before {
    display: none;
  }
  .newspage__item::after {
    display: none;
  }
  .newspage__container {
    padding: 0px 10px;
  }

  .footer-newspage .footer__body::after {
    display: none;
  }
  .newspage__img {
    height: 200px;
  }
  .newspage__info {
    padding: 24px 0;
    gap: 16px;
  }
  .newspage__time {
    font-size: 10px;
    letter-spacing: 1.2px;
  }
  .newspage__name {
    font-size: 32px;
    letter-spacing: -0.8px;
  }
  .newspage {
    padding-bottom: 55px;
  }
}
