/* обнуляем все настройки по умолчанию */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
/* меняет подсчет ширины блока для удобства */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* убираем линии обводки у браузеров */
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
/* делаем значения блочными */
nav,
footer,
header,
aside {
  display: block;
}
/* уравниваем поведение шрифтов и элементов для разных браузеров */
html,
body {
  /* height: 100%; */
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -mos-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}
/* просим теги наследовать семейство шрифта */
input,
button,
textarea {
  font-family: inherit;
}
/* убираем некоторые особенности в разных браузерах */
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
/* обнуляем заголовки h */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* ------------------------------------ */
@font-face {
  font-family: "Golos";
  src: url("./fonts/GolosText-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Golos";
  src: url("./fonts/GolosText-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Golos";
  src: url("./fonts/GolosText-DemiBold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "PT Astra Sans";
  src: url("./fonts/pt-astra-sans.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Golos";
  src: url("./fonts/GolosText-Regular.woff2") format("woff2");
  font-weight: 400;
}
:root {
  --color-gray-800: #1b2634;
  --color-gray-400: #1c325c;
  --color-gray-600: #4f5a73;
  --spacing-2: 8px;
  --spacing-3: 16px;
  --spacing-5: 32px;
  --spacing-4: 24px;
  --color-brand-cyan: #0647d1;
  --radius-md: 8px;
  --radius-lg: 16px;
  --radius-sm: 4px;
  --color-gray-100: #f3f4f9;
  --color-white-20: rgba(255, 255, 255, 0.2);
  --color-black-20: rgba(0, 0, 0, 0.2);
  --color-white-85: rgba(255, 255, 255, 0.85);
  --color-gray-300: #c3cfd9;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  background: var(--color-gray-100);
  /* height: 100%; */
  /* overflow-y: scroll; */
  overflow-x: hidden;
}
/* ----------------text-------------------- */

.title-h {
  color: var(--color-gray-800);
  /* font-size: 96px; */
  font-size: clamp(2rem, 5vw + 1rem, 10rem);
  font-style: normal;
  font-family: Golos;
  font-weight: 700;
  line-height: 95%; /* 91.2px */
  letter-spacing: -0.05em;
  /* letter-spacing: -10%; */
}
.title-b {
  color: var(--color-gray-800);
  /* font-size: 50px; */
  font-size: clamp(2rem, 2vw + 1rem, 6rem);
  font-style: normal;
  font-family: Golos;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -1.25px;
}
.title-n {
  color: var(--color-gray-800);
  font-family: Golos;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 26.4px */
  letter-spacing: -0.24px;
}
.title-s {
  color: var(--color-gray-800);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%; /* 28.8px */
  font-family: Golos;
}
.text-b {
  color: var(--color-gray-800);
  font-family: Golos;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 31.2px */
  letter-spacing: 0.24px;
}
.text-n {
  color: var(--color-gray-400);
  font-family: Golos;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 23.4px */
  letter-spacing: 0.18px;
}
.text-s {
  color: var(--color-gray-400);
  font-family: Golos;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 18.2px */
  letter-spacing: 0.14px;
}
.text-up {
  color: var(--color-gray-600);
  font-family: Golos;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 1.68px;
  text-transform: uppercase;
}
.text-gr {
  color: var(--color-gray-600);
  font-family: Golos;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.2px;
}
.text-form {
  color: var(--color-gray-300);
  font-family: Golos;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  letter-spacing: 0.16px;
}
.text-form a {
  color: var(--color-gray-300);
  font-family: Golos;
  font-size: 16px;
  font-style: normal;
  text-decoration: underline;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  letter-spacing: 0.16px;
}
/* ----------------btn-------------------- */
/* .btn {
  transition: all 2s ease 0s;
  display: inline-flex;
  padding: var(--spacing-3) var(--spacing-5);
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: var(--radius-md);
  background: var(--color-brand-cyan);

  color: var(--color-gray-100, #f3f4f9);
  text-align: center;
  font-family: Golos;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.btn:hover {
  background: linear-gradient(
      0deg,
      var(--color-white-20) 0%,
      var(--color-white-20) 100%
    ),
    var(--color-brand-cyan);
} */

.btn {
  position: relative;
  cursor: pointer;
  user-select: none;
  display: inline-flex;
  padding: var(--spacing-3) var(--spacing-5);
  justify-content: center;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
  border-radius: var(--radius-md);
  background: var(--color-brand-cyan);

  color: var(--color-gray-100);
  text-align: center;
  font-family: Golos;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  z-index: 1000;
  overflow: hidden;
}

.btn::before {
  content: "";
  display: inline-flex;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      0deg,
      var(--color-white-20) 0%,
      var(--color-white-20) 100%
    ),
    var(--color-brand-cyan);
  transition: opacity 0.3s ease-in-out;
  z-index: -1000;
}

.btn:hover::before {
  opacity: 1;
}

.btn:active::before {
  background: linear-gradient(
      0deg,
      var(--color-black-20) 0%,
      var(--color-black-20) 100%
    ),
    var(--color-brand-cyan);
}
.btn:disabled {
  background: linear-gradient(
      0deg,
      var(--color-white-85) 0%,
      var(--color-white-85) 100%
    ),
    var(--color-brand-cyan);
  pointer-events: none;
}
.btn-s {
  padding: 8px 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}
/* --------------header---------------- */
.header {
  display: flex;
  position: relative;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid var(--color-gray-300);
}

.header__nav {
  display: flex;
  align-items: center;
}
.burger {
  position: absolute;
  right: 16px;
  top: 16px;
  cursor: pointer;
  display: none;
}
.header__link {
  color: var(--color-gray-800);
  font-family: Golos;
  font-size: 16px;
  font-weight: 400;
  line-height: 130%; /* 20.8px */
  letter-spacing: 0.16px;
  padding: 8px 16px;
  border-radius: 8px;
  transition: all 0.3s ease 0s;
}
.header__link:hover {
  background-color: white;
}
.header__link:active {
  background: #2fd7d4;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header__switch {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
}

.header__ru,
.header__en {
  color: var(--color-gray-300);
  font-family: Golos;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 20.8px */
  letter-spacing: 0.16px;
  cursor: pointer;
}

.header__active {
  color: var(--color-gray-800);
}
@media only screen and (max-width: 1000px) {
  .burger {
    display: block;
  }
  .header__left {
    flex-direction: column;
    align-items: flex-end;
    gap: 0px;
  }
  .header__logo {
    align-self: flex-start;
  }
  .header {
    position: fixed;
    width: 100%;
    background-color: #f3f4f9;
    align-items: initial;
    z-index: 9999;
    flex-direction: column;
  }
  .header__nav {
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    height: 0px;
    overflow: hidden;
  }
  .header__right {
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
    height: 0px;
    overflow: hidden;
  }
  .header {
    border-bottom: none;
  }
}
.header-active {
  border-bottom: 1px solid var(--color-gray-300);
}
/* --------------intro----------------  */
.intro {
  position: relative;
}
/* canvas */
/* .canvas__container {
  width: 100vw;
  height: 953px;
} */
.container {
  max-width: 1112px;
  margin: 0 auto;
}
.intro__title {
  /* white-space: nowrap; */
}
.intro__col {
  display: flex;
  /* max-width: 930px; */
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 129px 0;
  gap: var(--spacing-5);
  position: relative;
}
.video {
  padding-bottom: 207px;
}
.video__col {
  position: relative;
  border-radius: var(--radius-lg);
  background-color: #fff;
  padding: 16px;
}

.video__play {
  display: none;
  /* display: flex; */
  width: 100%;
  border-radius: var(--radius-lg);
  overflow: hidden;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 22px;
  background: var(--color-white-85);
  /* opacity: 0; */
  /* transition: all 0.3s ease 0s; */
}

.video__play.active {
  opacity: 0;
  display: flex;
  transition: all 0.3s ease 0s;
}
.video__play.active:hover {
  opacity: 1;
}
.video__play-img {
  pointer-events: none;
  cursor: pointer;
}
.video__play.active .video__play-img {
  pointer-events: all;
}
.video__container {
  position: relative;

  margin: 0px;

  padding: 0px 0px 56%;
}

.video__poster {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
}
.video__item {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video__play-text {
  text-align: center;
  max-width: 479px;
}
.video__col::before {
  content: "";
  position: absolute;
  width: 600px;
  height: 600px;
  background-image: url(./img/transparent.png);
  top: -30%;
  left: -20%;
  z-index: -1;
}

.video__col::after {
  content: "";
  position: absolute;
  background-image: url(./img/transparent.png);
  background-size: cover;
  width: 600px;
  height: 600px;
  bottom: -30%;
  right: -20%;
  z-index: -1;
}

.intro__text {
  color: var(--color-gray-600);
}
.intro__rus {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 8px 0px;
  margin-bottom: -16px;
}
.intro__rus .text-up {
  white-space: nowrap;
}

@media only screen and (max-width: 500px) {
  .intro__rus .text-up {
    font-size: 10px;
  }
  .intro__rus img {
    width: 16px;
    height: 16px;
  }
  .intro__col {
    gap: var(--spacing-3);
    text-align: left;
    align-items: flex-start;
    padding: 152px 0 72px 0;
  }
  .container {
    padding: 0px 14px;
  }
  .video__col {
    height: 358px;
  }
  .video__container {
    padding: 0px;
    height: 100%;
  }

  .video {
    padding-bottom: 123px;
  }
  .video__col::before {
    display: none;
  }
  .video__col::after {
    bottom: -50%;
    right: -50%;
  }
  .intro__title {
    white-space: wrap;
  }
  .video__play-text {
    display: none;
  }
  .video__play-img path {
    fill: #fff;
  }
  .video__play {
    display: flex;
    background: none;
  }
  .video__play.active {
    opacity: 1;
  }
}
/* -------------tech------------------ */
.tech {
  padding-bottom: 248px;
}
.section__top {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-3);
  max-width: 738px;
  margin: 0 auto;
  text-align: center;
}
.section__vec {
  display: inline-flex;
  align-items: center;
  gap: 9px;
  position: relative;
}
.section__vec::before {
  content: "";
  position: absolute;
  left: 0;
  top: -4px;
  width: 59px;
  height: 34px;
  background: linear-gradient(270deg, rgba(243, 244, 249, 0) 0%, #f3f4f9 100%);
}
.section__vec::after {
  content: "";
  position: absolute;
  right: 0;
  top: -8px;
  width: 45px;
  height: 34px;
  background: linear-gradient(270deg, #f3f4f9 0%, rgba(243, 244, 249, 0) 100%);
}
.section__text {
  color: var(--color-gray-300);

  border: 1px solid var(--color-gray-300);
  background: var(--color-gray-100);
  border-radius: 4px;

  padding: 4px 8px;
}
.tech .section__top {
  margin-bottom: 52px;
}
.section__items {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 8px;
}
.aud .section__items::before {
  content: "";
  position: absolute;
  background-image: url(./img/transparent.png);
  background-size: cover;
  width: 600px;
  height: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.section__row {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
.section__item {
  min-width: 400px;
  display: flex;
  padding: var(--spacing-5);
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 8px;
  background: #fff;
  height: 279px;
}
.section__item-sm {
  max-width: 400px;
  flex: 1 0 1;
}
.section__item-bg {
  position: relative;
}
.section__item-bg .bg {
  position: absolute;
  top: 0;
  width: 55%;
  right: 0;
}

.section__item-text {
  font-size: 18px;
}
.section__item-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-2);
  align-self: stretch;
}
.tech-img {
  background-color: #fff;
}
/* ----------------------popup -----------------------*/
.popup__video-col {
  border-radius: var(--radius-lg);
  background: #ffffff1a;
  padding: 16px;
  width: 73%;
  position: relative;
}
.popup__controllers {
  position: absolute;
  bottom: -35px;
  width: 100%;
  left: 0px;
  display: flex;
  gap: 16px;
  align-items: center;
}
.popup__play {
  cursor: pointer;
}
.popup__range-container {
  width: 100%;
}
.popup__time {
  color: var(--color-white-100, #fff);
  font-family: Golos;
  font-size: 14px;
  font-weight: 500;
  line-height: 130%; /* 18.2px */
  letter-spacing: 1.68px;
  text-transform: uppercase;
}
.popup__range {
  width: 100%;
  height: 10px;
  display: block;
  border-radius: 10px;
  border: 1px solid #8d9aa6;
}
.popup__range::-webkit-progress-bar {
  border-radius: 10px;
  background-color: #8d9aa6;
}
.popup__range::-webkit-progress-value {
  border-radius: 10px;
  background-color: #fff;
}
.popup {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(27, 38, 52, 0.8);
  z-index: 1000;
  left: 0;
  top: 0;
}
.popup__video-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
  border-radius: var(--radius-lg);
}
.popup__video-container {
  position: relative;
  padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  height: 0;
  overflow: hidden;
}
.popup__pause {
  cursor: pointer;
}
/* ---------------------- scope------------------------ */
.scope {
  padding-bottom: 120px;
}
.scope__body {
  margin-top: 73px;
  display: flex;
  /* flex-direction: column; */
  gap: 19px;
  border-radius: 16px;
  background: #fff;
  padding: 22px 16px;
}
.scope__menu {
  display: flex;
  flex-direction: column;
  /*   
  flex-wrap: wrap;
  justify-content: center; */
  gap: 4px;
}
.scope__item {
  user-select: none;
  padding: 16px 24px;
  width: 275px;
  border-radius: var(--radius-md);
  cursor: pointer;
  color: var(--color-gray-300);
  font-family: Golos;
  font-size: 20px;
  font-weight: 400;
  background-color: #fff;
  line-height: 130%;
  min-height: 58px;
  text-align: left;
  letter-spacing: 0.2px;
  transition: all 0.3s ease 0s;
}
.scope__switch .scope__item {
  width: initial;
  padding: 8px 16px;
  height: initial;
  white-space: nowrap;
  min-height: auto;
}
.scope__example-item {
  /* position: relative; */
  width: 100%;
  height: 100%;
}
.scope__item:hover {
  /* background-color: initial; */
  background-color: #f3f4f9;
}
.scope__item-active {
  background: var(--color-brand-cyan);
  color: var(--color-gray-100);
}
.scope__item-active:hover {
  background: var(--color-brand-cyan);
}
.scope__example {
  border-radius: var(--radius-md);
  background: #fff;
  width: 100%;
  height: 564px;
  position: relative;
}
.scope__img {
  width: 100%;
  height: 564px;
  object-fit: contain;
  user-select: none;
  position: absolute;
  left: 0;
  border-radius: 8px;
  top: 0;
}
.scope__range {
  -webkit-appearance: none;
  appearance: none;
  background: linear-gradient(
      0deg,
      var(--color-white-85, rgba(255, 255, 255, 0.85)) 0%,
      var(--color-white-85, rgba(255, 255, 255, 0.85)) 100%
    ),
    var(--color-brand-cyan, #0647d1);
  cursor: pointer;
  width: 249px;

  height: 8px;
  border-radius: 16px;
}
.scope__range::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  /* margin-top: -12px; */
  background-color: #0647d1;
  width: 32px;
  border-radius: 50%;
  height: 32px;
}
.scope__switch {
  display: flex;
  padding: 16px 24px;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  background: #fff;
}
.scope__2 .scope__switch {
  gap: 8px;
  padding: 8px;
}
.scope__4 .scope__switch {
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background: #fff;
  gap: 16px;
  color: #4f5a73;
  text-align: center;
  font-family: Golos;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 20.8px */
}
.scope__7 .scope__switch {
  color: #1b2634;
}
.scope__4 .scope__bottom {
  bottom: 35px;
}
.scope__switch span {
  color: #1b2634;
  font-family: Golos;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.2px;
  white-space: nowrap;
}
.scope__bottom {
  position: absolute;
  left: 50%;
  bottom: 45px;
  transform: translate(-50%, 0);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
/* p5 */
.p5__container {
  width: 100vw;
  height: 70vh;
  position: absolute;
  left: 0;
  z-index: -1;
  top: 25vh;
}
.p5__bg {
  position: absolute;
  width: 100%;
  height: 400px;
  /* z-index: 1; */
}
.p5__bg-1 {
  top: 22vh;
  left: 0;
}
.p5__bg-2 {
  bottom: 30%;
  left: 0;
  z-index: -1;
}
@media (max-width: 500px) {
  .p5__bg-1 {
    top: 175px;
    left: 0;
  }
  .p5__bg-2 {
    bottom: 10%;
  }
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.success {
  background: #2fd7d4;
  color: #1b2634;
}
.error {
  margin-top: 15px;
  color: #ff5f57;
  font-family: Golos;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 18.2px */
  letter-spacing: 0.14px;
}

input:checked + .slider {
  background-color: rgba(6, 71, 209, 1);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgba(6, 71, 209, 1);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* ----------------------aud-------------------------- */
.aud {
  padding-bottom: 216px;
}
.aud .section__top {
  margin-bottom: 64px;
}
.aud-img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  /* border-radius: var(--radius-md); */
  /* background: var(--color-brand-cyan); */
}
.aud__subtitle {
  max-width: 736px;
}
@media only screen and (max-width: 745px) {
  .section__item-sm {
    max-width: initial;
  }
  .scope__item {
    font-size: 14px;
    width: auto;
    white-space: nowrap;
    min-height: 34px;
    padding: 8px 16px;
  }
  .scope__example {
    height: 368px;
  }
  .scope__img {
    height: 368px;
  }
  .scope__btn {
    font-size: 14px;
    padding: 8px 16px;
  }
  .scope__4 .scope__switch {
    font-size: 14px;
  }
  .scope__switch span {
    font-size: 14px;
  }
  .scope__bottom {
    bottom: 10px;
  }
  .scope__4 .scope__bottom {
    bottom: 5px;
  }
  .scope__switch {
    padding: 8px 16px;
  }
  .scope__4 .scope__switch {
    padding: 16px 16px;
  }
}
@media only screen and (max-width: 626px) {
  .scope__menu {
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: scroll;
    flex-direction: row;
  }
  .scope__body {
    flex-direction: column;
  }
}
@media only screen and (max-width: 500px) {
  .scope__img {
    object-fit: cover;
    padding-bottom: 5%;
  }
  .section__item {
    min-width: 360px;
    max-width: initial;
    height: 262px;
  }
  .aud .section__item {
    height: auto;
    justify-content: initial;
    gap: 32px;
  }
  .tech {
    padding-bottom: 123px;
  }
  .section__vec {
    align-self: flex-start;
  }
  .section__vec img:first-child {
    display: none;
  }
  .section__vec::before {
    display: none;
  }
  .aud {
    padding-bottom: 111px;
  }
  .section__item-bg {
    height: 316px;
  }
  .popup__video-col {
    width: 98%;
  }
  .section__item-bg .bg {
    width: 76%;
  }

  .scope__switch {
    background: #f3f4f9;
  }

  .scope__4 .scope__switch {
    background: #f3f4f9;

    color: #1b2634;
  }
  .scope__7 .scope__switch {
    color: #1b2634;
  }
}
@media only screen and (max-width: 450px) {
  .scope__img {
    object-fit: cover;
    padding-bottom: 20%;
  }
  .scope__example-item {
    height: 315px;
    border-radius: 8px;
    overflow: hidden;
  }
}
@media only screen and (max-width: 400px) {
  .scope__img {
    object-fit: cover;
    padding-bottom: 30%;
  }
  .scope__example-item {
    height: 266px;
    border-radius: 8px;
    overflow: hidden;
  }
}
/* -----------------form----------------- */
.form {
  padding-bottom: 150px;
}
.form__item {
  padding-top: 64px;
  max-width: 546px;
  margin: 0 auto;
  position: relative;
}
.form__body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: var(--spacing-3);
}
.inp {
  padding: var(--spacing-3);
  border-radius: var(--radius-md);
  background: #fff;
  border: 1px solid white;
  transition: all 0.2s ease 0s;

  color: var(--color-gray-800);
  font-family: Golos;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 24px */
  letter-spacing: 0.2px;
}
.inp::placeholder {
  color: var(--color-gray-300);
  font-family: Golos;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
  letter-spacing: 0.2px;
}
.inp:hover {
  border: 1px solid var(--color-gray-300);
}
.inp:focus {
  border: 1px solid var(--color-brand-cyan);
}
.inp.error {
  border: 1px solid #ff5f57;
}
.form__bottom {
  margin-top: 17.5px;
  display: flex;

  justify-content: space-between;
  align-items: center;
}
.form .text-form {
  max-width: 206px;
}
.form__item::before {
  content: "";
  position: absolute;
  background-image: url(./img/transparent.png);
  background-size: cover;
  width: 600px;
  height: 600px;
  bottom: -50%;
  right: -35%;
  z-index: -1;
}

@media only screen and (max-width: 500px) {
  .form__item {
    padding: 0px;
    margin-top: 32px;
  }
  .form__bottom {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
  }
  .form .text-form {
    max-width: none;
  }
  .text-form,
  .text-form a {
    font-size: 14px;
    letter-spacing: 0.14px;
  }
  .form__item::before {
    bottom: initial;
    top: -20%;
    right: -50%;
  }
}
/* -----------------footer ---------------- */
.footer {
  max-width: 550px;
  margin: 0 auto;
  padding: 25px 0px;
}
.footer .text-s {
  font-family: Golos;
}
.footer__body {
  display: flex;

  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 6px 16px;
  flex-wrap: wrap;
}

/* news */
.news {
  padding-bottom: 218px;
}
.news__body {
  margin: 40px 0;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
}
.news__item {
  width: 360px;
  border-radius: var(--spacing-3);
  background: #fff;
}
.news__info {
  padding: 24px;
}
.news__img {
  width: 100%;
  border-radius: 16px;
}
.news__time {
  color: var(--color-gray-300);

  font-family: Golos;
  font-size: 14px;
  font-weight: 500;
  line-height: 130%; /* 18.2px */
  letter-spacing: 1.68px;
  text-transform: uppercase;
}
.news__name {
  color: var(--color-gray-800);
  margin-top: 8px;
  font-family: Golos;
  font-size: 24px;
  font-weight: 500;
  line-height: 110%; /* 26.4px */
  letter-spacing: -0.24px;
}
.news__link {
  display: block;
  color: #2fd7d4;
  margin-top: 24px;
  font-family: Golos;
  font-size: 20px;
  cursor: pointer;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.2px;
}
.news__bottom {
  text-align: center;
}
.news__btn {
  display: inline-block;
  font-size: 16px;
  padding: 8px 16px;
}
@media only screen and (max-width: 500px) {
  .news {
    padding-bottom: 117px;
  }
  .news__time {
    font-size: 10px;
    line-height: 130%;
    letter-spacing: 1.2px;
  }
  .news__name {
    font-size: 20px;
    line-height: 110%;
    letter-spacing: -0.2px;
  }
  /*  */
  .news__body-scroll {
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: scroll;
  }
  .news__item {
    min-width: 300px;
    max-width: 300px;
  }
}

/* -----------------all ----------------- */
.m-v {
  display: none;
}
@media only screen and (max-width: 500px) {
  .m-h {
    display: none;
  }
  .m-v {
    display: block;
  }
  .section__top {
    align-items: flex-start;
    text-align: left;
  }
  .title-h {
    line-height: 100%;
    font-size: 50px;
    letter-spacing: -1.25px;
  }
  .title-b {
    font-size: 32px;
    letter-spacing: -0.8px;
  }
  .text-b {
    font-size: 16px;
    letter-spacing: 0.16px;
  }
  .text-up {
    font-size: 14px;
  }
  .text-gr {
    font-size: 16px;
    letter-spacing: 0.16px;
  }
  .section__item-text {
    font-size: 14px;
  }
  .section__text {
    font-size: 10px;
  }
}
.hidden {
  display: none;
}
